body {
    font-family:"Times New Roman", Times, serif; /* keluarga font */
    font-size: 12px; /* Ukuran font utama pada tag <p></p> */
    background-color: #292729; /* Warna latar belakang laman web */
    color: #efeaf1; /* Warna teks */ 
}
h1:hover {
    color: #e6eee6; /* Warna tajuk (header)*/
    font-size: 30px;
    animation: color-change 3s infinite;
}
h2 {
	color: #f7f3f7; /* Warna tajuk (header)*/
    font-family: "Times New Roman", Times, serif; /* Keluarga font yang digunakan di tajuk (header) */
}
@keyframes color-change { 
    0% { color: rgb(253, 253, 253); } 
    50% { color: rgb(168, 137, 137); } 
    100% { color: rgb(153, 101, 101); }
}
